.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $SECONDARY-COLOR;
  color: $COLOR-WHITE;
  position: relative;
  top: 25px;
  margin-bottom: 60px;

  .headding-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

    .logo-wrapper {
      background-color: hsl(192, 100%, 99%);
      margin-left: 30px;
      width: 120px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
    }

    figure {
      width: 50px;
      height: 50px;
      object-fit: contain;
      transform: scale(2);

      img {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      margin-left: auto;
      padding: 10px 20px;
      font-weight: normal;
      font-size: 1.5rem;
      cursor: pointer;

      &::after {
        content: "<<Home";
        display: block;
        font-size: 0.9rem;
        font-weight: 500;
        color: yellow;
      }
    }
  }

  .results-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    .view-results-btn {
      border: 2px solid $COLOR-WHITE;
      padding: 5px;
      margin-right: 30px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }

      button {
        padding: 5px 10px;
        border: none;
        font-size: 1.1rem;
        color: $SECONDARY-COLOR;
        font-weight: 600;
        cursor: inherit;
        transition: inherit;

        &:hover {
          background-color: rgba(255, 255, 255, 1);
          // transform: scale(1.1);
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.7);
          // transform: scale(1);
        }
      }
    }
  }
}

.summry {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 85px - 50px);
  padding: 0 20px;
  // display: none;
  // background-color: green;

  .welcome-message {
    // background-color: hs
    // background-color: white;
    color: green;
    padding: 20px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 2px hsla(0, 0%, 30%, 0.3));
    flex-shrink: 5;
    text-align: center;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 hsla(0, 0%, 30%, 0.3);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.25rem;
      padding: 10px;
    }
  }

  .vote-info {
    height: 500px;
    width: 600px;
    margin-left: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .breadcrumb {
      // background-color: hsl(60, 82%, 94%);
      background-color: white;
      margin: 0 20px;
      filter: drop-shadow(0 0 2px hsla(0, 0%, 30%, 0.3));
      border-radius: 5px;
      flex: 1 0 219px;
      transition: 0.5s;
      cursor: default;

      &:hover {
        transform: translateY(-10px);
        filter: drop-shadow(2px 4px 1px hsla(0, 0%, 30%, 0.3));
      }

      .title {
        border-bottom: 1px solid hsla(0, 0%, 30%, 0.5);

        h3 {
          padding: 10px 20px;
          font-size: 1.2rem;
          text-align: center;
          // text-transform: capitalize;
          color: #333333;
          font-weight: normal;
        }
      }

      .breadcrumb-content {
        padding: 20px 30px;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: #333333;
      }
    }
  }
}

.dashboard-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .results-display {
    border: 2px solid green;
    width: 90vw;
    border-radius: 10px;
    position: relative;
    display: none;

    .prefects-position {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      background-color: green;
      color: white;
    }

    .prefects-list-container {
      width: 100%;
      height: 470px;
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      overflow-y: auto;
      background-color: white;
      border-radius: 0 0 10px 10px;
      scrollbar-width: none;

      .prefect {
        margin: 10px 20px;
        max-height: 328px;

        .prefect-name {
          padding: 10px;
          text-align: center;
          font-weight: bold;
          font-size: 1.3rem;
        }

        figure {
          border: 2px solid yellow;
          border-radius: 5px;
          filter: drop-shadow(2px 4px 3px hsla(0, 100%, 0%, 0.5));
          object-fit: cover;
          overflow: hidden;
          position: relative;

          img {
            width: 100%;
            height: 100%;
          }

          .position {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #212121;
            color: white;
            padding: 10px;
            font-size: 1.3rem;
            font-weight: 600;
            // display: none;

            background: hsla(0, 0%, 13%, 0.7);
            backdrop-filter: blur(16px);
            -webkit-backdrop-filter: blur(16px);
          }
        }

        .number-of-votes-container {
          position: relative;
          top: -40px;
          // left: 0px;
          background-color: hsla(60, 100%, 50%, 0.8);
          // width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 10px;
          font-size: 1.1rem;
          font-weight: bold;
          border-radius: 0 0 5px 5px;

          background: hsla(60, 100%, 50%, 0.7);
          backdrop-filter: blur(16px);
          -webkit-backdrop-filter: blur(16px);

          .votes {
            font-size: inherit;
            font-weight: inherit;
          }

          .votes-percent {
            font-size: inherit;
            font-weight: inherit;
          }
        }
      }
    }

    .navigation-btn {
      width: 100%;
      background-color: green;
      padding: 5px;
      border-radius: 0 0 4px 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      // transform: translateY(5px);
      transition: 0.5s ease-out;
      // opacity: 0;
      // position: absolute;

      .girls-back-btn,
      .girls-next-btn,
      .boys-back-btn,
      .boys-next-btn {
        padding: 5px 15px;
        width: 10%;
        font-size: 1.2rem;
        font-weight: bolder;
        cursor: pointer;
        border: none;
        background-color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        transition: 0.3s;

        &:hover {
          background-color: yellow;
        }

        &:active {
          background-color: white;
        }
      }
    }
  }
}

.dashboard {
  background-color: hsl(192, 100%, 99%);
  background: linear-gradient(125deg, white 25%, rgba(103, 255, 136, 0.8) 10%, hsl(192, 100%, 99%));
  overflow: hidden;
  height: 100vh;
}

// .show-navigation-btns {
//   position: relative !important;
//   transform: translateY(0px) !important;
//   opacity: 1 !important;
// }

.decrease-prefects-list-container {
  height: 450px !important;
}

.prefects-results-data {
  display: none;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}
