# Virtual environment
.venv/
env/
venv/

# Byte-compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/
**/__pycache__

# Database files
# I didn't include the current database I'll include it later
# db.sqlite3

# Media and static files
/media/
/staticfiles/

# Other
*.log
*.tmp
/
