// $SECONDARY-COLOR: #27ae60;
// $PRIMARY-COLOR: #191d2b;
// $SHADOW-COLOR: #333;
// $CODE-COLOR: #12181b;
// $BORDER-COLOR: #454e56;
// $COLOR-WHITE: #fff;
// $COLOR-BLACK: #000;
// $SELECTION-COLOR: royalblue;
// $ERROR-BG: #bc7983;
// $VOTED-COLOR: #8f2222;
// $COLOR-RED: #f00;
// $VOTED-COLOR: #8f2222;

// $SECONDARY-COLOR: #ff7f50;
// $PRIMARY-COLOR: #fff;
// $SHADOW-COLOR: #333;
// $CODE-COLOR: #12181b;
// $BORDER-COLOR: #212121;
// $COLOR-WHITE: #fff;
// $COLOR-BLACK: #000;
// $COLOR-RED: #f00;
// $SELECTION-COLOR: royalblue;
// $ERROR-BG: #f00;
// $VOTED-COLOR: #8f2222;

$SECONDARY-COLOR: #008000;
$PRIMARY-COLOR: #fff;
$YELLOW-COLOR: #ffff00;
$SHADOW-COLOR: #333;
$CODE-COLOR: #12181b;
$BORDER-COLOR: #212121;
$COLOR-WHITE: #fffafa;
$COLOR-BLACK: #000;
$COLOR-RED: #f00;
$SELECTION-COLOR: hsla(60, 100%, 50%, 0.5);
$ERROR-BG: #f00;
$VOTED-COLOR: #8f2222;
